@font-face {
    font-family: Nunito-bold;
    font-weight: 700;
    src: url(/assets/fonts/Nunito-Bold.ttf);
}

@font-face {
    font-family: Nunito-reg;
    font-weight: 400;
    src: url(/assets/fonts/Nunito-Regular.ttf);
}

body {
    margin: 0;
    background-color: #f1ebd8;
}

.head {
    font-family: Nunito-bold;
    display: flex;
    justify-content: space-between;
    background-color: #222b1b;
    height: 80px;
    position: relative;
}

.head img {
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

.head a {
    text-decoration: none;
    color: #f1ebd8;
}

.log {
    display: flex;
    align-items: center;
    color: #f1ebd8;
    font-size: 18px;
    gap: 15px;
    margin-left: 10px;
}

.item-first a {
    position: relative;
    z-index: 2;
}

.description {
    display: none;
    position: absolute;
    width: 70px;
    background-color: #222b1b;
    flex-direction: column;
    margin: 10px 0;
    align-items: center;
    padding-top: 20px;
    bottom: -90px;
    left: 55px;
    z-index: 1;
}

.description span {
    color: f1ebd8;
    font-size: 18px;
    margin: 5px 0;
}

.item-first:hover>.description {
    display: flex;
}

.user {
    display: flex;
    align-items: center;
    color: #f1ebd8;
    font-size: 18px;
    gap: 10px;
    margin-right: 10px;
}

body {
    font-family: Nunito-reg;
}

.form {
    margin-top: 50px;
    width: 800px;
    height: 500px;
    display: flex;
    flex-direction: column;
}

.form input {
    background-color: #787d464b;
    height: 50px;
    margin: 10px 0;
    border: none;
    border-radius: 10px;
}

.form input::placeholder {
    font-size: 12px;
    font-family: Nunito-reg;
    color: rgba(0, 0, 0, 0.5);
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
}

.submit {
    padding: 10px;
    margin-top: 10px;
    background-color: #787d46;
    color: #f1ebd8;
    border: 0px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.submit:active {
    background-color: #9aa059;
    box-shadow: 0px 0px 10px 2px #787d46 inset
}